html {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--background-color);
}

:root {
	--navbar-color: #F17F29;
	--hover-color: #A8DCD1;
	--primary-color: #65DEF1;
	--background-color: #EBEBEB;
	--dark-orange: #F96900;
	--dark-blue: #0B132B;
	--light-blue: #7FDEDC;
	--color-blue: #002289;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 130rem;
}

/* ********************** */
/*         HEADER		  */
/* ********************** */

.container-header {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 0;
	background-color: var(--dark-blue);
}

.header-title {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 600;
	padding: 0 5rem;
}

.menu-navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	display: flex;
	gap: 4rem;
	align-items: center;
	padding: 1rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

.menu a:hover {
	color: var(--light-blue);
}

/* ********************** */
/*         INDEX		  */
/* ********************** */

.container-index {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;
	background-color: var(--background-color);
}

.my-name {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
}

.container-profile {
	display: flex;
	flex-direction: column;
	padding: 5rem;
	padding-top: 1rem;
	padding-left: 8rem;
	padding-right: 3rem;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.img-profile {
	padding: 2rem 7rem;
	width: 100%;
}

.profile-name {
	font-size: 3rem;
	font-weight: 700;
	padding-top: -1rem;
	text-transform: uppercase;
}

.container-comentary {
	display: flex;
	flex-direction: column;
	padding: 5rem;
	gap: 5rem;
	justify-content: center;
	align-items: left;
}

.welcome-msg {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.download-button {
	border: none;
	cursor: pointer;
	background-color: var(--primary-color);
	padding: 1.8rem;
	border-radius: 1.5rem;
	font-size: 1.5rem;
	color: #333;
	font-weight: 700;
	border-left: 4px solid #3BEAD1;
	border-bottom: 4px solid #3BEAD1;
}

.container-links {
	display: flex;

}

.navbar-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-links {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.menu-links li{
	list-style: none;
}

.menu-links a {
	text-decoration: none;
	font-size: 3rem;
	padding: 1.2rem 1.5rem;
	color: var(--dark-blue);
	border-radius: 3rem;
	transition: all .4s ease;
}

.menu-links a:hover {
	background-color: var(--dark-blue);
	color: #fff;	
}

/* ********************** */
/*         ABOUTME		  */
/* ********************** */

.container-aboutme {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.title-section {
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 800;
	color: var(--color-blue);	
}

.aboutme-paragraph {
	font-size: 1.5rem;
	padding: 0 20rem;
	color: #000;

}

.aboutme-featured {
	text-transform: uppercase;
	padding: 1.3rem 23rem;
	font-size: 1.5rem;
}

/* ********************** */
/*        PORTFOLIO		  */
/* ********************** */

.container-portfolio {
	display: flex;
	flex-direction: column;
	padding: 2rem 5rem;
}

.container-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	padding: 5rem 0;
}

.gallery-items {
	display: flex;
	flex-direction: column;
	height: 25rem;
	padding: .8rem;
	gap: 1rem;
	
}

.gallery-items img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
	cursor: pointer;
}

.links-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	font-size: 2rem;
}

.links-gallery i {
	color: var(--dark-blue);
	cursor: pointer;
}

.gallery-items img:hover {
	color: #ccc;
	opacity: .7;
}

.links-gallery i:hover{
	color: var(--light-blue);
}

/* ********************** */
/*         STUDY		  */
/* ********************** */

.container-study {
	display: flex;
	flex-direction: column;
	padding: 2rem 5rem;
}

.container-study-items {
	display: flex;
	flex-direction: column;
	padding: 4rem 5rem;
	padding-bottom: 2rem;
}

.title-study {
	display: flex;
	align-items: center;
}


.name-college {
	font-size: 1.8rem;
	color: #000;
	font-weight: 700;
}








/* ********************** */
/*         SKILLS		  */
/* ********************** */

.container-skills {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 2rem 5rem;
}

.container-languages {
	display: flex;
	justify-content: center;
	padding: 3rem 22rem;
	gap: 4rem;
	flex-wrap: wrap;
	align-items: center;
}

.program-language {
	display: flex;
	min-width: 15rem;
	align-items: center;
	justify-content: center;
	padding: 1rem 3rem;
	border-bottom: 3px solid #c9c9c9;
	border-right: 3px solid #c9c9c9;
	font-size: 1.8rem;
	color: #000;
	font-weight: 800;
	border-radius: 2rem;
	background-color: #fdfdfd;
}

/* ********************** */
/*        CONTACT		  */
/* ********************** */

.container-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 5rem;
}

.contact-with-me {
	padding: 5rem 20rem 0;
	font-size: 1.8rem;
}

.contact-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.5rem;
	padding: .7rem 0.5rem;
}

.menu-contact li {
	list-style: none;
}

.menu-contact i{
	background-color: #ddd;
}

.menu-contact span{
	padding: 0 .7rem;
}

.menu-contact a {
	text-decoration: none;
	color: #000;
	padding: .7rem;
	font-weight: 700;
}

.menu-contact a:hover {
	color: #555;
}

.contain-contact {
	padding: 1.5rem;
	border-radius: 1rem;
	background-color: #ddd;
}

.email {
	color: #f00;
}

.whatsapp {
	color: #25D366;
}

.linkedin {
	color: #0E76A8;
}

.discord {
	color: #7289DA;
}

/* ********************** */
/*         FOOTER		  */
/* ********************** */

.container-footer {
	display: flex;
	background-color: #242423;
	color: #fff;
	height: 18rem;
	flex-direction: column;
	gap: 3rem ;
	justify-content: center;
	align-items: center;
}

.footer-makes {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.container-makes {
	padding: .3rem 1rem;
	background-color: #ccc;
}

.container-html i{
	color: #f00;
}