/********************/
/*     SETTINGS     */
/********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--blue-color: #2F394A;
	--blue-color-2: #1D70A2;
	--blue-color-3: #0F1937;
	--blue-color-4: #4b9ff6;
	--blue-color-5: #072fa6;
	--white-color: #FFFFFF;
	--white-color-2: #F7F2D9;
	--orange-color: #DB4201;
	--yellow-color: #E28603;
	--light-blue: #1DA5E8;
	--nut-color: #D8AB7A;
	--gray-color: #DFDFDF;
	--gold-color: #B0967A;
	--background-color: #FFFFFF;
	--text-color: #0F1937;
	--button-color: #072FA6;
	--facebook-color: #1877F2;
	--linkedin-color: #0077B5;
	--github-color: #62275C;
}

/********************/
/*      NAVBAR      */
/********************/

.container-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 3rem;
	padding-left: 23rem;
	z-index: 1000;
	transition: all 0.3s ease;
	background-color: var(--background-color);
	flex-grow: 1;
}

.container-switchers {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.container-logo img {
	width: 100%;
}

.container-navlinks {
	display: flex;
	height: 2rem;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.btn-navbar {
	transition: all 0.6s ease;
	color: var(--text-color);
	position: relative;
}

.btn-navbar::after {
	content: '';
    background-color: var(--button-color);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -.4rem;
    transition: all .5s ease;
    left: 0;
}

.btn-navbar:hover {
	color: var(--button-color);
}

.btn-navbar:hover::after {
    width: 100%;
}

.active {
	color: var(--button-color);
}

.active.btn-navbar::after {
	width: 100%;
}

#menu-toggle {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

.line {
	background-color: var(--white-color);
	display: block;
	width: 30px;
	height: 2px;
	margin: 5px 0;
	border-radius: 50%;
	transition: all .3s ease-out;
}

.line-1 {
	transform: rotate(45deg) translate(0.6rem);
}

.line-2 {
	opacity: 0;
}

.line-3 {
	transform: rotate(-45deg) translate(0.6rem);
}

/* Theme-Switch */
.button-change-theme {
	color: var(--text-color);
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1.3rem;
	padding: .2rem;
	transition: all .5s ease;
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.button-change-theme:hover {
	background-color: var(--text-color);
	color: var(--background-color);
}

/********************/
/*  LANGUAGE-SWITCH */
/********************/
.container-buttons-language {
	border: none;
	display: flex;
	flex-direction: column;
	gap: .2rem;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	position: relative;
	transition: all .3s ease;
	color: var(--text-color);
	outline: none;
}

.language-select {
	display: flex;
	align-items: center;
	gap: .3rem;
	font-size: .95rem;
	padding: .2rem;
}

.language-text {
	transition: all .3s ease;
	letter-spacing: .05rem;
	border-bottom: 1px solid transparent;
}

.container-buttons-language:hover .language-text {
	border-bottom: 1px solid var(--white-color);
}

.contain-buttons-language {
	display: none;
	flex-direction: column;
	gap: .4rem;
}

.open-lang {
	display: flex;
	position: absolute;
	top: 2rem;
	z-index: 100;
	right: 0;
	padding: 1rem 1.5rem;
	border: 1px solid #CCC;
	background-color: var(--white-color);
	padding-right: 5rem;
}

.Language-button {
	display: flex;
	font-size: .95rem;
	align-items: center;
	background-color: var(--white-color);
	border: none;
	outline: none;
	cursor: pointer;
	color: #888;
	transition: all .3s ease;
	gap: .5rem;
}

.check-icon-lang {
	display: flex;
	align-items: center;
	opacity: 0;
	color: #888;
	transition: all .3s ease;
}

.active-lang {
	opacity: 1;
}

.Language-button:hover,
.Language-button:hover .active-lang {
	color: var(--blue-color-3);
}

.container-social-media {
	display: flex;
	gap: .5rem;
}

.contain-social-media {
	position: relative;	
}

.social-media-btn {
	width: 2.5rem;
	height: 2.5rem;
	display: block;
	transition: .5s all ease;
	background: var(--gray-color);
}

.social-media-btn span {
	width: 100%;
	height: 100%;
}

.social-media-btn span::before {
    font-family: "FontAwesome";
    font-weight: 900;
	text-align: center;
	line-height: 2.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--white-color);
	color: var(--blue-color);
	transform-origin: top;
	transition: transform 0.5s;
	border: 1px solid var(--gray-color);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.social-media-btn:hover span::before {
	transform: rotateX(90deg) translateY(-50%);
}

.social-media-btn span::after {
    font-family: "FontAwesome";
	text-align: center;
	line-height: 2.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--white-color);
	color: var(--blue-color);
	transform-origin: bottom;
	transition: transform 0.5s;
	transform: rotateX(90deg) translateY(50%);
	border: 1px solid transparent;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.social-media-btn:hover span::after {
	transform: rotateX(0deg) translateY(0);
}

.facebook span::before,
.facebook span::after {
	content: '\f09a';
}

.facebook span::after {
	color: var(--white-color);
	background-color: var(--facebook-color);
	border: 1px solid var(--facebook-color);
}

.linkedin span::before,
.linkedin span::after {
	content: '\f0e1';
}

.linkedin span::after {
	color: var(--white-color);
	background-color: var(--linkedin-color);
	border: 1px solid var(--linkedin-color);
}

.github span::before,
.github span::after {
	content: '\f09b';
}

.github span::after {
	color: var(--white-color);
	background-color: var(--github-color);
	border: 1px solid var(--github-color);
}

/********************/
/*   PHONE-SCREEN   */
/********************/
@media screen and (max-width: 700px) {
	/* Navbar */

	#menu-toggle {
		display: block;
	}

	.container-navbar {
		padding: 1.2rem 1rem;
	}

	.container-navlinks {
		display: none;
	}

	.container-logo {
		width: 10rem;
	}

	.navbar {
		display: flex;
		background-color: var(--blue-color-3);
		flex-direction: column;
		position: absolute;
		left: -500px;
		top: 65px;
		height: 98vh;
		width: 70%;
		align-items: center;
		padding: 2rem 0;
		transition: all .5s ease;
		visibility: hidden;
		z-index: 5;
	}

	.navbar.menu-active {
		visibility: visible;
		transform: translateX(500px);
	}

	/* Language-Switcher */
	.open-lang {
		left: 0;
		right: unset;
	}
}