/********************/
/*     SETTINGS     */
/********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--blue-color: #2F394A;
	--blue-color-2: #1D70A2;
	--blue-color-3: #0F1937;
	--blue-color-4: #4b9ff6;
	--blue-color-5: #072fa6;
	--white-color: #FFFFFF;
	--white-color-2: #F7F2D9;
	--orange-color: #DB4201;
	--yellow-color: #E28603;
	--light-blue: #1DA5E8;
	--nut-color: #D8AB7A;
	--gray-color: #DFDFDF;
	--gold-color: #B0967A;
  --background-color: #FFFFFF;
  --text-color: #0F1937;
  --button-color: #072FA6;
  --facebook-color: #1877F2;
  --linkedin-color: #0077B5;
  --github-color: #62275C;
}

[data-theme="dark"] {
  --background-color: #0F1937;
  --text-color: #FFFFFF;
  --button-color: #1DA5E8;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
	margin: 0 auto;
	max-width: 95rem;
}

.btn {
	padding: .6rem 1rem;
	font-size: 1rem;
	position: relative;
	text-align: center;
}

/********************/
/*     WHATSAPP     */
/********************/
.whatsapp-button {
	position: fixed;
	bottom: 40px;
	right: -5rem;
	z-index: 1000;
	transition: all .5s ease;
	display: flex;
	align-items: center;
}

.whatsapp-text {
	padding: .8rem 2.2rem;
	border-radius: 2rem;
	transition: all .3s ease;
	border-radius: 2rem;
	background-color: var(--blue-color-5);
	opacity: 0;
	margin-left: 1.3rem;
}

.whatsapp-button:hover {
	color: var(--white-color);
	right: 3rem;
}

.whatsapp-icon {
	position: absolute;
	font-size: 2rem;
	display: flex;
	align-items: center;
	transition: all .7s ease;
	background-color: var(--text-color);
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	text-align: center;
	justify-content: center;
	color: var(--background-color);
	z-index: 1010;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-button:hover .whatsapp-text {
	opacity: 1;
}

.whatsapp-button:hover .whatsapp-icon {
	transform: rotate(-360deg);
}

/********************/
/*       HOME       */
/********************/
.container-home-all {
	display: flex;
	width: 100%;
	height: 100%;
}

/* Wrapper */
.container-home-wrapper {
	position: sticky;
	width: 20rem;
	left: 0;
	top: 0;
	z-index: 1000;
	height: 100vh;
	background-color: var(--background-color);
  flex-shrink: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.contain-home-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 5rem 2rem;
	text-align: center;
}

.wrapper-title-img {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.home-wrapper-img {
	height: 15rem;
	width: 13rem;
	border-radius: 1.2rem;
	background-color: var(--gray-color);
}

.home-wrapper-img img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
}

.title-separator {
	font-size: 1.2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--text-color);
}

.contain-buttons-wrapper {
	display: none;
}

.btn2 {
	color: var(--text-color);
	overflow: hidden;
	border: 2px solid var(--text-color);
	z-index: 1;
	transition: all 0.6s ease;
	display: flex;
	align-items: center;
	gap: .5rem;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

.btn2:hover {
	color: var(--background-color);
}

.btn2::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 200%;
	left: 0;
	top: -200%;
	border-radius: 50%;
	background-color: var(--button-color);
	transition: all 0.6s ease;
	z-index: -1;
}

.btn2:hover::before {
	top: 0;
	border-radius: 0%;
}

.container-dont-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
  overflow-y: auto;
}

/* Banner */
.container-banner-home {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 8rem 3rem;
}

.contain-banner-home {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: 50rem;
}

.presentation-title {
	font-size: 3rem;
}

.color-presentation-title {
	color: var(--button-color);
}

.contain-banner-home p {
	font-size: 1rem;
}

.contain-buttos-banner-home {
	display: flex;
	gap: 2rem;
}

/* Projects */
.container-home-projects {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-color);
	padding: 5rem;
	text-align: center;
}

.contain-home-plans {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

.home-plans-title {
	font-size: 2.2rem;
	color: var(--white-color);
}

/* Stadistics */
.container-home-stadistics {
	background-color: var(--blue-color-2);
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white-color);
}

.contain-home-stadistics {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.stadistics-title {
	color: var(--white-color);
	font-weight: 500;
	font-size: 2.5rem;
}

.stadistics-info {
	display: flex;
	gap: 4rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contain-stadistic-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.stadistics-number {
	color: var(--white-color);
	font-size: 3.5rem;
	text-align: center;
}

.stadistics-text {
	color: var(--white-color);
	font-size: 1.1rem;
	text-align: center;
}

/* Technos */
.container-home-technos {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 3rem;
	padding: 8rem 0;
	justify-content: center;
	align-items: center;
}

.technos-title {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
}

.uppertitle-home {
	font-size: 2.2rem;
	font-weight: 500;
}

.lowertitle-home {
	font-size: 2.2rem;
	color: var(--light-blue);
	font-weight: 500;
}

.container-items {
	display: flex;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.technos-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	transition: all .5s ease;
}

.technos-item-img {
	background-color: var(--text-color);
	display: flex;
	align-items: center;
	width: 8rem;
	height: 6rem;
	padding: 1.5rem;
	border-radius: 1rem;
	transition: all .5s ease;
}

.technos-subitem-img {
	padding: .5rem;
	display: flex;
	align-items: center;
	border-radius: .3rem;
	transition: all .5s ease;
}

.technos-items:hover .technos-subitem-img {
	transform: scale(1.2);
}

.technos-item-img img {
	width: 100%;
}

/* Skills */
.container-home-skills {
	display: flex;
	flex-direction: column;
	padding: 0 0 5rem ;
	width: 100%;
	color: var(--white-color);
}

.contain-home-skills {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	margin-left: 10rem;
	background-color: var(--blue-color-5);
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
	padding: 2rem 0;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.container-skills-items {
	display: grid;
	max-width: 40rem;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
}

.container-skills-item {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.skills-title {
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}

/* Home-About */
.container-about-main {
	display: flex;
	padding: 15rem 5rem 0;
	background: url('../images/banner-change.png');
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
}

.about-main-image {
	width: 27rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-main-image img {
	width: 100%;
}

.main-about-items {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 20rem;
	color: var(--white-color);
}

.main-about-items h3{
	font-size: 2rem;
	font-weight: 400;
	color: var(--white-color);
}

.main-about-items p {
	line-height: 1.2rem;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-swiper-img {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	width: 100%;
	height: 25rem;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	background-color: var(--text-color);
	color: var(--background-color);
	border-radius: 1rem;
}

.contain-swiper-img {
	width: 100%;
	height: 20rem;
}

.contain-swiper-img img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-position: top;
}

/********************/
/*  PROJECT-DETAIL  */
/********************/
.container-project-view {
	height: 100vh;
}

.container-project-detail {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 3rem;
}

.contain-project-detail {
	display: flex;
	gap: 5rem;
	align-items: center;
	justify-content: center;
	padding: 5rem 0 0;
}

.contain-project-image {
	width: 20rem;
	height: 80vh;
}

.contain-project-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.contain-project-info {
	max-width: 35rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	padding: 2rem 3rem;
	background-color: var(--blue-color-5);
	color: var(--white-color);
	border-radius: 1.5rem;
}

.container-item-imgs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.container-item-imgs h3 {
	font-weight: 500;
}

.contain-item-imgs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
	background-color: var(--white-color);
	padding: .8rem 2rem;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.technology-item-img {
	width: 3rem;
	height: 3rem;
}

.technology-item-img img {
	width: 100%;
	height: 100%;
}

.btn3 {
	color: var(--white-color);
	overflow: hidden;
	border: 2px solid var(--white-color);
	z-index: 1;
	transition: all 0.6s ease;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.btn3:hover {
	color: var(--text-color);
}

.btn3::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 200%;
	left: 0;
	top: -200%;
	border-radius: 50%;
	background-color: var(--light-blue);
	transition: all 0.6s ease;
	z-index: -1;
}

.btn3:hover::before {
	top: 0;
	border-radius: 0%;
}

.back-to-menu {
	color: var(--white-color);
	display: flex;
	gap: .5rem;
	align-items: center;
}

/********************/
/*      CONTACT     */
/********************/
.container-contact-contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

.container-contact-form {
	display: flex;
	flex-direction: column;
	max-width: 45rem;
	width: 100%;
}

.container-info-contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	max-width: 45rem;
	width: 100%;
}

.contain-info-contact {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--blue-color-2);
}

.info-contact {
	display: flex;
	gap: 1rem;
}

.info-contact-text {
	font-size: .9rem;
}

.info-contact-link {
	color: var(--light-blue);
	font-size: 1.3rem;
}

/* Form */
.contain-contact-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	background-color: var(--white-color);
	width: 100%;
	box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
}

.container-contact-divider {
	display: flex;
	gap: 2rem;
}

.input-contact {
	position: relative;
	width: 100%;
	margin-top: 2rem;
}

.input-contact input {
	position: relative;
	width: 100%;
	padding: 1.1rem .7rem .7rem;
	background: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
	color: var(--white-color);
}

.input-contact span {
	position: absolute;
	left: 0;
	padding: 1.1rem .7rem .7rem;
	pointer-events: none;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.05em;
	transition: 0.5s;
	color: var(--blue-color);
}

.input-contact input:valid ~ span,
.input-contact input:focus ~ span {
	color: var(--blue-color-5);
	font-size: 0.75em;
	transform: translateY(-2rem);
}

.input-contact i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg, var(--blue-color-3), var(--light-blue));
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
}

.input-contact input:valid ~ i,
.input-contact input:focus ~ i {
	height: 2.7rem;
}

.input-contact-msg {
	position: relative;
	width: 100%;
	margin-top: 2rem;
}

.input-contact-msg textarea {
	position: relative;
	width: 100%;
	padding: 1.1rem .7rem .7rem;
	background: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
	color: var(--white-color);
}

.input-contact-msg span {
	position: absolute;
	left: 0;
	padding: 1.1rem .7rem .7rem;
	pointer-events: none;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 0.05em;
	transition: 0.5s;
	color: var(--blue-color);
}

.input-contact-msg textarea:valid ~ span,
.input-contact-msg textarea:focus ~ span {
	color: var(--blue-color-5);
	font-size: 0.75em;
	transform: translateY(-2rem);
}

.input-contact-msg i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(45deg, var(--blue-color-3), var(--light-blue));
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
}

.input-contact-msg textarea:valid ~ i,
.input-contact-msg textarea:focus ~ i {
	height: 4rem;
}

.submit-button {
	padding: .8rem 1.5rem;
	color: var(--blue-color-3);
	text-transform: uppercase;
	border: 2px solid var(--blue-color-3);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-flex;
	transition: all .5s ease;
	background-color: var(--white-color);
}

.submit-button:hover {
	color: var(--white-color);
	border: 2px solid var(--blue-color-3);
}

.submit-button span {
	z-index: 2;
	font-weight: 500;
}

.submit-button::after {
	content: '';
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: calc(-100% - 2.9rem);
	border-right: 2.9rem solid var(--white-color);
	border-bottom: 2.9rem solid var(--blue-color-3);
	transition: all .5s ease;
}

.submit-button:hover::after {
	left: 0;
}

.required-fields {
	color: var(--blue-color-3);
}

/********************/
/*    ERROR-404     */
/********************/
.container-error404 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background-color: var(--blue-color-3);
	color: var(--white-color);
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding: 8rem 0 2rem;
}

.required-fields-link {
	color: var(--white-color);
	transition: all 0.5s ease;
	font-weight: 600;
}

.container-error404-image {
	width: 40rem;
}

.container-error404-image img {
	width: 100%;
}

.required-fields-link:hover {
	color: var(--blue-color);
}

/********************/
/*   PHONE-SCREEN   */
/********************/
@media screen and (max-width: 1000px) {
	/* HOME */
	.container-home-all {
		display: flex;
		flex-direction: column;
	}

	/* Wrapper */
	.container-home-wrapper {
		position: unset;
		width: 100%;
		z-index: 1;
		height: 100%;
		box-shadow: unset;
	}

	.contain-home-wrapper {
		gap: 3rem;
		padding: 8rem 2rem;
	}

	.contain-buttons-wrapper {
		display: flex;
		gap: 1rem;
	}

	/* No-wrapper */
	.container-banner-home {
		display: none;
	}

	/* Projects */
	.container-home-projects {
		padding: 5rem 1rem;
	}

	.container-swiper-img {
		height: 18rem;
	}

	.container-swiper-img p {
		display: none;
	}

	/* Skills */
	.contain-home-skills {
		margin-left: 3rem;
	}

	.container-skills-items {
		display: flex;
		flex-direction: column;
		padding-left: 4rem;
		gap: 2rem;
	}

	/* About-Main */
	.container-about-main {
		display: flex;
		flex-direction: column;
		padding: 10rem 2rem;
		background-position-x: right;
	}

	.main-about-items {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	/* CONTACT */
	.container-contact-contact-form,
	.container-contact-about {
		padding: 8rem 2rem;
	}

	.container-contact-form {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.container-info-contact {
		width: 100%;
		padding: 2rem 0;
	}

	/* Form */
	.contain-contact-form {
		width: 100%;
	}

	.container-contact-divider {
		flex-direction: column;
	}

	/* PROJECT-DETAIL */
	.container-project-detail {
		padding: 2rem;
	}

	.contain-project-detail {
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem;
		justify-content: center;
		align-items: center;
	}

	.contain-project-image {
		width: 100%;
	}

	/* ERROR-404 */
	.container-error404 {
		padding: 3rem 1rem;
		text-align: center;
	}

	.container-error404 img{
		width: 100%;
	}

	.container-error404-image {
		width: 100%;
	}
}