/********************/
/*     SETTINGS     */
/********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--blue-color: #2F394A;
	--blue-color-2: #1D70A2;
	--blue-color-3: #0F1937;
	--blue-color-4: #4B9FF6;
	--blue-color-5: #072FA6;
	--white-color: #FFFFFF;
	--white-color-2: #F7F2D9;
	--orange-color: #DB4201;
	--yellow-color: #E28603;
	--light-blue: #1DA5E8;
	--nut-color: #D8AB7A;
	--gold-color: #B0967A;
	--facebook-color: #1877F2;
	--instagram-color: #DD2A7B;
	--linkedin-color: #0072B1;
	--pinterest-color: #BD081C;
	--github-color: #62275C;
	--youtube-color: #C4302B;
}

.container {
	margin: 0 auto;
	max-width: 95rem;
}

.btn {
	padding: 1rem 1.8rem;
	font-size: 1rem;
	position: relative;
	margin: 2rem;
	text-align: center;
}

/********************/
/*    WEB-DESIGN    */
/********************/
/* Header */
.container-webd-header {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 8rem 5rem;
	justify-content: center;
	align-items: center;
	background: url('../images/banner-webd.webp');
	background-size: cover;
	background-position: center;
}

.webd-header-image {
	width: 40rem;
}

.webd-header-image img {
	width: 100%;
}

.webd-header-title {
	color: var(--blue-color);
	font-size: 2.2rem;
}

/* Web-Design */
.container-web-design {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	padding: 5rem;
}

/* Ecommerce-Pred */
.container-ecommerce-pred {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
}

.container-ecommerce-video {
	width: 30rem;
}

.contain-ecommerce-pred {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.ecommerce-pred-text {
	font-size: 1.2rem;
}

/********************/
/* WEB-DESIGN-DETAIL*/
/********************/
.icon-header-detail {
	display: flex;
	align-items: center;
	border-radius: 50%;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	color: var(--white-color);
	background: linear-gradient(var(--blue-color-5), var(--light-blue));
}

/* Title */
.container-detail-title {
	background: linear-gradient(45deg, var(--blue-color-2), var(--blue-color-5));
	padding: 8rem;
	color: var(--white-color);
	font-size: 2.5rem;
}

.detail-webd-title {
	font-weight: 500;
}

/* Our-Work */
.container-our-work {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 5rem;
	justify-content: center;
	align-items: center;
}

.customer-support-header {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.contain-our-work {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 8rem;
	grid-gap: 2rem;
}

.our-work-boxes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.our-work-boxes h3 {
	font-size: 2.5rem;
	color: var(--blue-color);
}

.our-work-box {
	display: flex;
	gap: 1rem;
}

.our-work-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light-blue);
	font-size: 3rem;
	padding: 1rem;
	width: 5rem;
	height: 5rem;
	background-color: var(--blue-color-3);
}

.our-work-texts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0 3rem;
}

.our-work-texts h3 {
	font-size: 1.8rem;
	color: var(--blue-color);
}

/* Ecommerce */
.container-predesign-ecommerce {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 5rem 0;
}

.contain-predesign-ecommerce {
	display: flex;
	gap: 4rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.contain-predesign-image {
	width: 35rem;
}

.contain-predesign-image img {
	width: 100%;
}

.predesign-ecommerce-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 35rem;
	justify-content: center;
}

.predesign-ecommerce-content h3 {
	color: var(--blue-color);
	font-size: 1.3rem;
}

/* Animation */
.container-animation-details {
	display: flex;
	flex-direction: column;
	background: var(--blue-color-3);
	padding: 3rem 15rem 6rem;
	gap: 6rem;
}

.contain-animation-details {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	color: var(--white-color);
	justify-content: center;
	align-items: center;
}

.contain-animation-details h3,
.contain-animation-details p {
	text-align: center;
}

.contain-animation-details h3 {
	font-size: 3rem;
}

.animation-details-title {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.container-grid-animation {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.animation-content {
	position: relative;
}

.animation-face {
	width: 20rem;
	height: 15rem;
	transition: all .4s ease;
}

.animation-face.face-1 {
	position: relative;
	background: linear-gradient(45deg, var(--blue-color-2), var(--blue-color-5));
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.animation-content:hover .animation-face.face-1 {
	transform: translateY(0);
  	box-shadow:
    	inset 0 0 60px whitesmoke,
    	inset 20px 0 80px var(--blue-color),
    	inset -20px 0 80px var(--green-color-1),
    	inset 20px 0 300px var(--blue-color),
    	inset -20px 0 300px var(--green-color-1),
    	0 0 50px #fff,
    	-10px 0 80px var(--blue-color),
    	10px 0 80px var(--green-color-1);
}

.animation-face.face-1 .content {
	opacity: .4;
	transition: all .5s ease;
	text-align: center;
}

.animation-content:hover .animation-face.face-1 .content {
	opacity: 1;
}

.animation-face.face-2 {
	position: relative;
	background: var(--blue-color-3);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,.8);
  	transform: translateY(-140px);
}

.animation-content:hover .animation-face.face-2 {
	transform: translateY(0);
}

.animation-face.face-2 .content {
	color: var(--white-color);
}

.content-img {
	width: 100%;
	height: 100%;
}

.content-opt-img {
	width: 100%;
	height: 100%;
	padding: 2rem;
}

/* Page-Types */
.container-webd-types {
	background: url('../images/banner-stadistics.webp');
	background-position: center;
	background-size: cover;
	display: flex;
	padding: 5rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.box-web-design {
	width: 20rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	padding: 2rem 1rem 1rem;
	align-items: center;
	background-color: var(--blue-color-3);
	border-radius: .5rem;
	transition: all .5s ease;
}

.box-web-design:hover {
	background-color: var(--white-color);
}

.icon-box-effect {
	font-size: 2rem;
	color: var(--white-color);
	transition: all .5s ease;
}

.box-web-design:hover .icon-box-effect {
	color: var(--blue-color-3);
}

.box-web-design h4 {
	font-weight: 500;
	font-size: 1.6rem;
	color: var(--gold-color);
}

.box-web-design p {
	height: 11rem;
	color: var(--white-color);
	text-align: center;
	transition: all .5s ease;
}

.box-web-design:hover.box-web-design p {
	color: var(--blue-color-3);
}

/* Responsive */
.container-responsive-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	align-items: center;
	padding: 8rem 2rem;
}

.container-responsive-design {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contain-responsive-design {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contain-responsive-design h3 {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--blue-color-3);
}

.contain-responsive-design p {
	font-size: 1.2rem;
}

.responsive-design-image {
	width: 100%;
}

/* Price */
.container-ecommerce-price {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	padding: 5rem 15rem;
	background-color: var(--blue-color-3);
	min-height: 80vh;
}

.contain-ecommerce-price {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.ecommerce-price-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ecommerce-price-title h3 {
	color: var(--white-color);
	font-size: 3rem;
	font-weight: 500;
}

.container-glassmorph {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2.5rem 0;
	gap: 5rem;
}

.glassmorph-box {
	position: relative;
	width: 17rem;
	height: 23rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem 2rem;
	transition: all .5s ease;
}

.glassmorph-box::before {
	content: '';
	position: absolute;
	top: 0;
	left: 2rem;
	width: 50%;
	height: 100%;
	background: var(--white-color);
	border-radius: .5rem;
	transform: skew(15deg);
	transition: all .5s ease;
}

.glassmorph-box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 2rem;
	width: 50%;
	height: 100%;
	background: var(--white-color);
	border-radius: .5rem;
	transform: skew(15deg);
	transition: all .5s ease;
	filter: blur(30px);
}

.container-glassmorph .glassmorph-box:hover::before,
.container-glassmorph .glassmorph-box:hover::after {
	transform: skew(0);
	left: 1.5rem;
	width: calc(100% - 5rem);
}

.container-glassmorph .glassmorph-box:nth-child(1)::before,
.container-glassmorph .glassmorph-box:nth-child(1)::after {
	background: linear-gradient(315deg, var(--blue-color-5), var(--light-blue));
}

.glassmorph-box:nth-child(2)::before,
.glassmorph-box:nth-child(2)::after {
	background: linear-gradient(315deg, #FFC914, #FF0058);
}

.glassmorph-box span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	pointer-events: none;
}

.glassmorph-box span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: .5rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animate 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.glassmorph-box:hover span::before {
	top: -50px;
	left: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}

.glassmorph-box span::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: .5rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animate 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	animation-delay: -1s;
}

.glassmorph-box:hover span::after {
	bottom: -50px;
	right: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}

@keyframes animate {
	0%, 100% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}
}

.glassmorph-content {
	position: relative;
	left: 0;
	padding: 2rem 3rem;
	height: 20rem;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: .5rem;
	backdrop-filter: blur(10px);
	z-index: 1;
	transition: 0.5s;
	color: var(--white-color);
}

.glassmorph-box:hover .glassmorph-content {
	left: -25px;
	padding: 2rem 3rem;
}

.glassmorph-content h4 {
	font-size: 1.5rem;
	margin-bottom: .7rem;
	width: 12rem;
	margin-top: .5rem;
	text-align: center;
}

.glassmorph-content p {
	margin-bottom: .7rem;
}

.price-subtitle,
.price-text {
	opacity: 0;
	transition: .7s;
}

.price-text {
	font-size: 1.4rem;
	text-align: center;
}

.glassmorph-box:hover .price-subtitle,
.glassmorph-box:hover .price-text {
	opacity: 1;
}

/* Customer-Support */
.container-customer-support {
	padding: 5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.contain-customer-support {
	display: flex;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.customer-support-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.support-text {
	display: flex;
	gap: 1rem;
}

/********************/
/*   PHONE-SCREEN   */
/********************/
@media screen and (max-width: 700px) {
	/* WEB-DESIGN */
	/* WebD */
	.container-webd-header {
		padding: 8rem 2rem;
		gap: 4rem;
	}

	.webd-header-image {
		width: 100%;
	}

	.webd-header-title {
		font-size: 2.2rem;
		text-align: center;
		color: var(--blue-color-4);
	}

	/* Ecommerce-Pred */
	.container-ecommerce-pred {
		text-align: center;
	}

	.container-ecommerce-video {
		width: 100%;
	}

	/* WEB-DESIGN-DETAIL */
	.container-detail-title {
		padding: 8rem 1rem;
		font-size: 1.5rem;
	}

	/* Our-Work */
	.container-our-work {
		padding: 5rem 2rem;
	}

	.customer-support-header {
		text-align: center;
	}

	.contain-our-work {
		display: flex;
		flex-direction: column;
		padding: 0;
		gap: 3rem;
	}

	.our-work-texts {
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0;
	}

	/* Animation */
	.container-animation-details {
		padding: 3rem 2rem 6rem;
	}

	/* Ecommerce */
	.container-predesign-ecommerce {
		padding: 5rem 2rem;
	}

	.contain-predesign-ecommerce {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}

	.contain-predesign-image {
		width: 100%;
	}

	.predesign-ecommerce-content {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	/* Responsive */
	.responsive-design-image img {
		width: 100%;
	}

	/* Price */
	.container-ecommerce-price {
		padding: 5rem 2rem;
	}

	.contain-ecommerce-price {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

	/* Support */
	.container-customer-support {
		padding: 5rem 2rem;
	}

	.contain-customer-support {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		align-items: center;
	}

	.customer-support-image {
		width: 100%;
	}

	.customer-support-image img {
		width: 100%;
	}
}